{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html dir="ltr">
<head>
    <title>{{role.name}}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
        /* Define brand colors as CSS variables */
        :root {
            --brand-color-first: {{role.first_color}};
            --brand-color-second: {{role.second_color}};
            --brand-color-third: {{role.third_color}};
        }

        @font-face {font-family: popins-thin; src: url('/static/fonts/Poppins-Thin.ttf');}
        @font-face {font-family: popins-light; src: url('/static/fonts/Poppins-Light.ttf');}
        @font-face {font-family: popins-regular; src: url('/static/fonts/Poppins-Regular.ttf');}
        @font-face {font-family: popins-medium; src: url('/static/fonts/Poppins-Medium.ttf');}
        @font-face {font-family: popins-bold; src: url('/static/fonts/Poppins-Bold.ttf');}
        @font-face {font-family: popins-black; src: url('/static/fonts/Poppins-Black.ttf');}

        :root {
            --brand-font-thin: popins-thin;
            --brand-font-light: popins-light;
            --brand-font-regular: popins-regular;
            --brand-font-medium: popins-medium;
            --brand-font-bold: popins-bold;
            --brand-font-black: popins-black;
            --brand-font-size: 16px
        }
    </style>
    {% tailwind_css %}
</head>

<body>
    <div class="container mx-auto pt-12 lg:px-6 items-center">
        <!--Navbar-->
        <nav class="bg-white-500 pb-5 flex justify-between mx-auto">
            <div class="text-black text-6xl lg:text-4xl" style="font-family: var(--brand-font-bold)" id="aelsir">aelsir</div>
            <button class="bg-[#D9D9D9] rounded-full flex text-black p-1 items-center lg:scale-75 gap-2">
                <span id='contact' class='pl-2 text-4xl' style="font-family: var(--brand-font-light)">Contact</span>
                <!-- Replace the arrow with your desired icon or SVG -->
                <img class="w-12" src="{% static 'svg/next.svg' %}" alt="arrow">
                </div>
            </button>
        </nav>

        <!--Hero Section-->
        <div class="container justify-center grid mx-auto mx-12 items-center py-5 gap-8 grid-cols-1 lg:grid-cols-2 align-middle">
            <!-- This is the Photo section -->
            <div class="flex order-2 lg:order-1 h-full px-7 bg-[var(--brand-color-third)] rounded-3xl lg:rounded-none lg:rounded-s-3xl items-end">
                <img class="mx-auto" src="{{role.img.url}}" alt="Product Manager">
            </div>
            <!--Description Section-->
            <div class="flex order-1 lg:order-2
            h-full bg-gradient-to-r from-[var(--brand-color-third)] to-[var(--brand-color-second)] bg-opacity-50 p-7 rounded-3xl lg:rounded-none lg:rounded-e-3xl items-center">
                <div class="grid text-center justify-center align-center items-center place-items-center lg:place-items-start lg:text-left space-y-7">
                    <h1 style="font-family: var(--brand-font-bold)"
                    class="text-8xl lg:text-6xl">
                    {{role.title}}
                    </h1>
    
                    <h3 style="font-family: var(--brand-font-light)" class="text-4xl lg:text-3xl">{{role.slogan}}</h3>
                    
    
                    <button class="bg-[var(--brand-color-first)] rounded-full flex text-black p-1 items-center justify-between gap-2">
                        <span id='contact' class='pl-2 text-4xl'>Hire Me!</span>
                        <!-- Replace the arrow with your desired icon or SVG -->
                        <img class="w-12" src="{% static 'svg/next.svg' %}" alt="arrow">
                        </div>
                    </button>

                </div>
            </div>
                
            
        </div>
    </div>

    <!--Project Header-->
    <div class="flex w-full text-3xl justify-center items-center gap-3 bg-black text-white my-5 " style="font-family: var(--brand-font-bold)">
        <img class="w-[80px]" src="{% static 'svg/sparkle.svg' %}" alt="">
        <h2 class="">Latest Projects</h2>
        <img class="w-[80px]" src="{% static 'svg/sparkle.svg' %}" alt="">
    </div>

    <!--Projects-->
    <div class="container mx-auto py-4 lg:px-6 ">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            {% for project in role.projects.all %}
            
            <!--First Project-->
            <div class="">
                <div class="bg-gradient-to-r from-[var(--brand-color-third)] rounded-[40px] p-12">
                    <div class="flex justify-between py-2">
                        <div class="text-5xl lg:text-3xl" style="font-family: var(--brand-font-bold)">{{project.title}}</div>
                        <a href="{{project.url}}"><img class="w-10 -rotate-45" src="{% static 'svg/next.svg' %}" alt="arrow"></a>
                        
                    </div>
                    <div class="text-3xl lg:text-xl py-4">
                        {{project.description}}
                    </div>
                    <img src="{{project.img.url}}" alt="">
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>

    <!--4 Words Discover...-->
    <div class="flex w-full text-3xl justify-center items-center gap-3 bg-black text-white my-5" style="font-family: var(--brand-font-bold)">
        <h2 class="">Discover</h2>
        <svg class="w-[80px]" id="Layer" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path id="sparkle" d="m21.137 11.519-2.726-.779a7.453 7.453 0 0 1 -5.151-5.151l-.779-2.726a.52.52 0 0 0 -.962 0l-.779 2.726a7.453 7.453 0 0 1 -5.151 5.151l-2.726.779a.5.5 0 0 0 0 .962l2.726.779a7.453 7.453 0 0 1 5.151 5.151l.779 2.726a.5.5 0 0 0 .962 0l.779-2.726a7.453 7.453 0 0 1 5.151-5.151l2.726-.779a.5.5 0 0 0 0-.962z" fill="var(--brand-color-second)"/></svg>
        <h2>Definition</h2>

        <svg class="w-[80px]" id="Layer" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path id="sparkle" d="m21.137 11.519-2.726-.779a7.453 7.453 0 0 1 -5.151-5.151l-.779-2.726a.52.52 0 0 0 -.962 0l-.779 2.726a7.453 7.453 0 0 1 -5.151 5.151l-2.726.779a.5.5 0 0 0 0 .962l2.726.779a7.453 7.453 0 0 1 5.151 5.151l.779 2.726a.5.5 0 0 0 .962 0l.779-2.726a7.453 7.453 0 0 1 5.151-5.151l2.726-.779a.5.5 0 0 0 0-.962z" fill="var(--brand-color-second)"/></svg>

        <h2>Design</h2>

        <svg class="w-[80px]" id="Layer" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path id="sparkle" d="m21.137 11.519-2.726-.779a7.453 7.453 0 0 1 -5.151-5.151l-.779-2.726a.52.52 0 0 0 -.962 0l-.779 2.726a7.453 7.453 0 0 1 -5.151 5.151l-2.726.779a.5.5 0 0 0 0 .962l2.726.779a7.453 7.453 0 0 1 5.151 5.151l.779 2.726a.5.5 0 0 0 .962 0l.779-2.726a7.453 7.453 0 0 1 5.151-5.151l2.726-.779a.5.5 0 0 0 0-.962z" fill="var(--brand-color-second)"/></svg>

        <h2>Develop</h2>

        <svg class="w-[80px]" id="Layer" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path id="sparkle" d="m21.137 11.519-2.726-.779a7.453 7.453 0 0 1 -5.151-5.151l-.779-2.726a.52.52 0 0 0 -.962 0l-.779 2.726a7.453 7.453 0 0 1 -5.151 5.151l-2.726.779a.5.5 0 0 0 0 .962l2.726.779a7.453 7.453 0 0 1 5.151 5.151l.779 2.726a.5.5 0 0 0 .962 0l.779-2.726a7.453 7.453 0 0 1 5.151-5.151l2.726-.779a.5.5 0 0 0 0-.962z" fill="var(--brand-color-second)"/></svg>
        
    </div>


    <!--Work experience-->
    <div class="container mx-auto p-12 lg:px-6">
        <div class="space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px lg:before:mx-auto lg:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-black before:to-transparent">

            
            {% for work in role.works.all %} 
            
            <div class="relative flex items-center justify-between lg:justify-normal lg:odd:flex-row-reverse group is-active">
                <!-- Icon -->
                <div class="flex items-center justify-center w-10 h-10 rounded-full bg-black group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 lg:order-1 lg:group-odd:-translate-x-1/2 lg:group-even:translate-x-1/2">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="50" fill="var(--brand-color-second)" />
                      </svg>
                </div>

                <!-- Card -->
                <div class="w-[calc(100%-4rem)] lg:w-[calc(50%-2.5rem)] p-4 space-y-2">
                    <div class="flex items-left justify-between space-x-2 mb-1">
                        <div class="text-2xl lg:text-xl">{{work.company}} - {{work.country}}</div>
                        <time class="text-2xl lg:text-xl">{{work.start_year}} - {{work.end_year}}</time>
                    </div>
                    <div class="text-4xl lg:text-3xl" style="font-family: var(--brand-font-bold)">  {{work.title}}</div>
                    <p class="text-2xl lg:text-xl">{{work.description}}</p>
                    <div style="font-family: var(--brand-font-thin)" class="lg:text-xl">Skills: {% for skill in work.skills.all %} {{skill.name}} . {% endfor %}
                        
                    </div>
                </div>
                
            </div>
            
            {% endfor %}
            
        </div>
    </div>

    <!--Footer-->
    <div class="flex flex-cols w-full text-3xl justify-center items-center align-center gap-2 bg-black text-white mt-5 p-6 gap-6" style="font-family: var(--brand-font-bold)">
            <a href="https://www.facebook.com/ahmed.elsir.khalfalla/?_rdc=1&_rdr">
                <img class="w-11" src="{% static 'svg/social/facebook.svg' %}" alt="arrow">
            </a>

            <a href="https://github.com/aelsir">
                <img class="w-11" src="{% static 'svg/social/github.svg' %}" alt="arrow">
            </a>

            <a href="https://www.instagram.com/a__elsir/">
                <img class="w-11" src="{% static 'svg/social/instagram.svg' %}" alt="arrow">
            </a>

            <a href="https://twitter.com/a__elsir">
                <img class="w-11" src="{% static 'svg/social/twitter.svg' %}" alt="arrow">
            </a>

            <a href="https://www.youtube.com/channel/UCBsek0zRiy70nsizGhKNlnw">
                <img class="w-11" src="{% static 'svg/social/youtube.svg' %}" alt="arrow">
            </a>

            <a href="https://www.linkedin.com/in/aelsir/">
                <img class="w-11" src="{% static 'svg/social/linkedin.svg' %}" alt="arrow">
            </a>

        

    </div>
    



    
</body>
</html>