{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Product Manager</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>

<body class="mx-20 mt-5" >
    <nav class="bg-white-500 p-2 flex justify-between">
        <div class="text-black text-2xl" id="aelsir">aelsir</div>

        <button class="bg-[#D9D9D9] rounded-full flex text-black p-1 items-center">
            <span id='contact' class='pl-2'>Contact</span>
            <div class="ml-2 bg-black rounded-full p-1">
            <!-- Replace the arrow with your desired icon or SVG -->
            <img class="w-6" src="{% static 'svg/right-arrow.svg' %}" alt="arrow">
            </div>
        </button>
    </nav>

    <div class="container columns-2">
        <!-- This is the Photo section -->
        <div>
            <img src="{% static 'img/pm.png' %}" alt="Product Manager">
        </div>


        <div class="flex flex-col h-screen justify-center items-left space-y-4">
            <h1>Leading the Way to Product Excellence</h1>
            <h3>Proven track record of driving successful product and innovation with different prospective.</h3>

            <button class="bg-[#5CE1E6] rounded-full flex text-black p-1 items-center w-[120px]">
                <span id='contact' class='pl-2'>Hire Me!</span>
                <div class="ml-2 bg-black rounded-full p-1">
                <!-- Replace the arrow with your desired icon or SVG -->
                <img class="w-6" src="{% static 'svg/right-arrow.svg' %}" alt="arrow">
                </div>
            </button>

        </div>
    </div>
    
    


    
</body>
</html>